<h1>Rental Cars</h1>
<p><%= I18n.translate('welcome_message')%></p>
<p><%= link_to 'Clientes', clients_path %></p>
<p> <%= link_to 'Fabricantes', manufacturers_path  %></p>
<p> <%= link_to 'Filiais' , subsidiaries_path  %></p>
<p> <%= link_to 'Categorias de carros' , car_categories_path %></p>
<p> <%= link_to 'Modelos de carros' , car_models_path  %></p>
<p> <%= link_to 'Frota', cars_path %> </p>
<p> <%= link_to 'Locações', rentals_path %> </p>
